<div class="panel panel-primary">
    <div class="panel-body">
        <ul class="list-unstyled">
            <li ng-repeat="task in tarefa">
                <span class="label label-success " ng-show="task.completa == 1"><span class="glyphicon glyphicon-ok"></span></span>
                <h3>{{task.nometarefa}}</h3>
                <p>{{task.comentario}}
                    <p class="text-right label label-primary">{{task.data | date: "dd/MM/yyyy"}}</p>
                </p>
                <div class="text-right">
                    <button class="btn btn-primary btn-xs"  ng-click="finaliza(task.id)"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"> Finalizar</button>
                    <button class="btn btn-danger btn-xs" ng-click="deletar(task.id)"><span class="glyphicon glyphicon-remove"></span> Deletar</button>
                </div>
                <hr>
            </li>
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Adicionar Tarefa</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar Tarefa</h4>
            </div>
            <div class="modal-body">

                <form class="">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" value="" class="form-control" ng-model="tsk.nometarefa">
                    </div>
                    <div class="form-group">
                        <label for="comentario">Comentario</label>
                        <input type="text" name="comentario" value="" class="form-control" ng-model="tsk.comentario">
                    </div>
                    <div class="form-group">
                        <label for="data">Data conclusão</label>
                        <input type="date" name="data" value="" class="form-control" ng-model="tsk.data">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="addtarefa(tsk)">Adicionar</button>
            </div>
        </div>
    </div>
</div>